RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^/$ index.php [QSA,L]
RewriteRule ^/customize$ customize.php [QSA,L]
RewriteRule ^/settings$ settings.php [QSA,L]